.searchLabel {
    font-size: 20px;
}

.searchInput {
    display: block;
    width: 100%;
    border: 1px solid rgb(255, 107, 10);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;

    &:hover {
        background-color: #f0f8ff;
    }

    &:focus {
        outline: none;
        border: 2px solid rgb(255, 107, 10);
    }
}